@import url(../css/monochrome.css);

.project-card .project-card__img img {
  object-fit: contain;
}

.background {
  padding-bottom: 10px;
}

.fa-spinner {
    margin-right: 10px;
}

.hire_btn {
	margin-right: 10px;
}

.download_btn {
	background-color: #ffffff;
	border-color: #4a4a4a;
	border-width: 2px;
	border-style: solid;
	color: #4a4a4a!important;
	padding-top: 14px;
}

.download_btn:hover {
	color: #fff!important;
}
